<!DOCTYPE html>
<html>
    <head>
        <link href="/styles/main.css" rel="stylesheet" type="text/css" />
    </head>

    <body>
        <%- include('partials/nav'); %>
        <h1>404 Error Oops!</h1>
        <p>um..., get it right</p>
    </body>
</html>