<!DOCTYPE html>
<html>
    <head>
        <link href="/styles/main.css" rel="stylesheet" type="text/css" />
    </head>

    <body>
        <%- include('partials/nav');%>
        <h1>Contacts</h1>
        <p>dont' call me</p>
        <p>Thanks for getting in touch with <%= data.who %></p>
        <p>They are in the <%= data.department%> department</p>
        <p>They'll reply back soon!</p>
    </body>
</html>